@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html {
    font-family: 'Potta One', cursive;
    background-color: aquamarine;
}

footer {
    background-color: rgb(133, 133, 133);
    color: white;
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    }