@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Potta One', cursive;
}

.nav{
    background-color: black;
    color: white;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#text {
    border: 1px solid black;
}

#CF {
    display: table;
    width: 100%;
}

#form_CF {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}