{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Calculator Page   -->
<div id='CF'>
    <br>
    <form id='form_cf' method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit', name='calculate'>Calculate</button>
    </form>
</div>


<br>

<table class="table table-dark" id='CT'>
    {% if wage and bills %}
    <thead>
    <tr>
        
        <th scope="col">Hourly Wage</th>
        <th scope="col">Bills</th>
        <th scope="col">Daily Wage</th>
        <th scope="col">Weekly Wage</th>
        <th scope="col">Monthy Wage</th>
        <th scope="col">Fun Money</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        
        <td>$ {{wage}}</td>
        <td>$ {{bills}}</td>
        <td>$ {{daily}}</td>
        <td>$ {{weekly}}</td>
        <td>$ {{monthly}}</td>
        <td>$ {{money}}</td>
    </tr>
    </tbody>
    {% endif %}
</table>

<br>
<br>
<br>

<img id='Cimg' src="{% static 'imgs/pngwing.png'  %} ">



<!-- <div id='text'>
{% if wage and bills %}
{{wage}}
{{daily}}
{{weekly}}
{{monthly}}
{{bills}}
{% endif %}
</div> -->

{% endblock %}






